.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(217, 207, 207);
}

.navbar a {
  display: flex;
  align-items: flex-end;
  font-size: 3em;
  padding: 8px;
  color: rgb(77, 73, 73);
}

.navbar a:hover {
  color: rgb(6, 39, 88);
}
