.navbar {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
}

.navbar a {
  display: flex;
  align-items: flex-end;
  font-size: 3em;
  padding: 8px;
  color: var(--navbar__icon-color);
}

.navbar a:hover {
  color: var(--navbar__icon-color--hover);
}
